params {
    help = false
    samplesheet = null

    skip_basecalling = false
    skip_alignment   = false

    skip_QC          = false
    skip_coverage    = false
    skip_SNVs_PEPPER = false
    skip_CALL_SV     = false

    use_gpu      = false
    bind_path    = false
    account_name = false

    output_dir = './results'
    executor   = 'slurm'
}

executor {
    name = params.executor
    queueSize = 10
    pollInterval = '5 sec'
    submitRateLimit = '10/2min'
    maxRetries = 1
    retry.delay = '5min'
    retry.maxDelay = '10min'
}

process {
    executor = params.executor
    errorStrategy = 'terminate'
    cleanup = false
    cache = 'lenient'
    stageInMode = 'symlink'
    stageOutMode = 'rsync'

  withName:BASECALLING { container = "dorado_sha0fe401d8dfb4739b6904a57392ba2566d086d180.sif" } 
  withName:BAMTOFQ { container = "https://depot.galaxyproject.org/singularity/samtools:1.17--hd87286a_1" } 
  withName:SAMTOOLS_BAM { container = "https://depot.galaxyproject.org/singularity/samtools:1.17--hd87286a_1" } 
  withName:SAMTOOLS_TARGET { container = "https://depot.galaxyproject.org/singularity/samtools:1.17--hd87286a_1" } 
  withName:BASECALLING_REPORT { container = "https://depot.galaxyproject.org/singularity/samtools:1.17--hd87286a_1" } 
  withName:MINIMAP2 { container = "minimap2_2.28--9e3bd01.sif" } 
  withName:FLAGSTAT { container = "https://depot.galaxyproject.org/singularity/samtools:1.17--hd87286a_1" } 
  withName:CRAMINO { container = "cramino_0.15.0--h3dc2dae_1.sif" } 
  withName:NANOPLOT { container = "nanoplot_1.42.0--547049c.sif" } 
  withName:COVERAGE { container = "quay.io/biocontainers/mosdepth:0.3.3--h37c5b7d_2" } 
  withName:SNVs_PEPPER {container = "pepper_deepvariant_r0.8-gpu.sif" } 
  withName:INDEX_HP { container = "https://depot.galaxyproject.org/singularity/samtools:1.17--hd87286a_1" } 
  withName:CALL_SV {container = "j3guevara/sniffles_test:1.0" } 
  withName:BIGCLIPPER {container = "bigclipper.sif" } 
  withLabel: gpu { 
    clusterOptions = '--partition=gpu --cpus-per-task=28 --mem=74G' 
    containerOptions = '--nv' 
    cpus = 28 
    memory = '74 GB' 
    } 
    
  withLabel: big_job { 
    clusterOptions = '--partition=prod --cpus-per-task=28 --mem=74G' 
    cpus = 28 
    memory = '74G' 
    } 
  
  withLabel: small_job { 
    clusterOptions = '--partition=prod --cpus-per-task=4 --mem=4G' 
    cpus = 4 
    memory = '4G' 
    } 
    
    withLabel: medium_job { 
      clusterOptions = '--partition=prod --cpus-per-task=8 --mem=16G' 
      cpus = 8 
      memory = '16G' 
      } 
      
  } 
  

def timestamp = new Date().format("yyyyMMdd_HHmmss") 

dag { 
  enabled = true 
  file = "${params.output_dir}/execution/${timestamp}_dag.html" 
  overwrite = false 
  } 

timeline { 
  enabled = true 
  file = "${params.output_dir}/execution/${timestamp}_timeline.html" 
  overwrite = false 
  } 

report { 
  enabled = true 
  file = "${params.output_dir}/execution/${timestamp}_report.html" 
  overwrite = false 
  } 
  
trace { 
  enabled = true 
  file = "${params.output_dir}/execution/${timestamp}_trace.txt" 
  overwrite = false 
  } 
  
envWhitelist = ['APPTAINER_TMPDIR', 'NXF_APPTAINER_CACHEDIR', 'CUDA_VISIBLE_DEVICES', 'NVIDIA_VISIBLE_DEVICES'] 

apptainer { 
  enabled = true 
  autoMounts = true 
  runOptions = params.use_gpu ? "--nv -B ${params.bind_path}" : "-B ${params.bind_path}" 
  }